.logo {
  /* Additional styles for the image, if needed */
  width: 200px; /* Adjust width and height as desired */
  height: 200px;
  animation: spin 3s linear infinite; /* Animation details */
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
